.fc-toolbar {
    flex-direction: column;
}
.breakpoint-large({
    .fc-toolbar {
        flex-direction: row;
    }
});

.fc-button-primary:disabled{
    visibility: hidden;
    .breakpoint-large-down({
        display: none;
    })
}

.fc-button-group > .fc-button, .fc-button-group > .fc-button:not(:first-child), .fc-button-group > .fc-button:not(:last-child){
    background: linear-gradient(to right, #0882B7 , #6CB144)!important;
    color: @white-color!important;
    border: none;
    border-radius: 20px;
}

.fc-button-group > .fc-today-button, .fc-button-group > fc-prev-button{
    //border-radius: 0;
}

.fc-button-group > .fc-button:hover, .fc-button-group > .fc-button:not(:first-child):hover, .fc-button-primary:not(:disabled).fc-button-active{
    background: @link-color!important;
    color:@white-color!important;
    border: none!important;
}

.fc-button-group > .fc-button{
    .breakpoint-large-down({
        margin: 50px 3px;
    });

}

.fc-toolbar.fc-header-toolbar{
    display: flex;
}

.fc-left{
    order: 2;
    position: absolute;
    margin-left: 320px;
    .breakpoint-large-down({
        //order: 1;
        position: unset;
        margin-left: 0px;
    });
}

.fc-center{
    order: 1;
    h2{
        text-transform: none;
    }
}

.fc-right{
    order: 3;
}
.fc-button{
    .breakpoint-large-down({
        margin: 20px 5px 10px 5px!important;
    });

}

.fc-left .fc-button{
    padding: 6px;
    margin: 0 10px;
}

.fc-right .fc-button{
    padding: 5px 6px;
    margin: 0 10px;
    width: 80px;
}

.fc-right .fc-button:nth-of-type(3){
    margin: 0 0 0 10px;
}

.fc-event{
    background: #459B7D!important;
    border-color: #459B7D!important;
    padding: 10px!important;
}

.fc-view-container{
    background: @white-color;
    padding: 0px;
}

.fc-day-grid-event .fc-time{
    display: none;
}

.event-date{
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    background:@link-color ;
    color: @white-color!important;
    width: 220px;
    height: 48px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-place{
    color: @dark-color;
    font-weight: 500;
}

.events .tabs{
    width: 100%;
    display: flex;
    text-align: right;
    justify-content: end;
    .breakpoint-large-down({
        width: fit-content;
        margin: 0 auto;
    });

    a{
        width: fit-content;
        font-weight: 500;
        cursor: pointer;
        color: @dark-color;
        padding-left: 30px;
        float: left;
        .breakpoint-large-down({
            margin-left: 0px;
        });

        &:first-of-type{
            background: url("../../assets/images/List view.svg") left no-repeat;
            background-size: 20px;
            height: 25px;
            line-height: 25px;
            margin-right: 10px;
            &.active{
                display: none;
            }
        }

        &:last-of-type{
            background: url("../../assets/images/calendar view.svg") left no-repeat;
            background-size: 22px;
            height: 25px;
            line-height: 25px;
            &.active{
                display: none;
            }
        }

    }

}

.events{
    .tabs + div.row{
        width: 100%;
    }
}


.events{

    ol {
        list-style: auto;
        padding-left: 20px;
    }

    .container{
        padding: 45px 20px;
    }

    .container:first-of-type{
        position: relative;

    }
    .some_news_background{
        background: url("../../assets/images/news-graphic.svg") top left no-repeat;
        background-size: 200px;
        left: -250px;
        width: 200px;
        height: 400px;
        position: absolute;
    }
    .some_news_background2{
        background: url("../../assets/images/news-graphic-2.svg") top right no-repeat;
        background-size: 200px;
        right: -150px;
        width: 200px;
        height: 500px;
        position: absolute;
        .breakpoint-huge-down({
            display: none;
        });
    }

    .newslist .col-xs-12:first-child{
        display: unset!important;
    }

    .news-title {
        margin-left: 0;
    }
    .content{
        margin-left: 0;
    }
    img{
        width: unset;
        margin: 0;
    }
    .single-news-item{
        .event-date{
            color: @dark-color;
            margin: 0px 0 0px 0px;
        }
    }
    h1{
        //margin-top: 50px;
    }
}


.fc-listYear-button.fc-button.fc-button-primary{
    display: none;
}

.fc-button-primary{
    background: linear-gradient(to right, #0882B7 , #6CB144)!important;
    border-radius: 20px!important;
    &:hover{
        cursor: pointer;
        background: @dark-color!important;
    }
}

.events_list_container{
    width: 100%;
    h1{
        color: @text-color-default;
    }
    .entry_item{
        font-weight: normal;
        background: #E3F8FF9C;
        box-shadow:  0px 3px 6px #00000029;
        -moz-box-shadow:  0px 3px 6px #00000029;
        -webkit-box-shadow:  0px 3px 6px #00000029;
        //box-shadow: -10px 7px 20px #0041651A;
        border-radius: 20px;
        color: @dark-color!important;
        font-size: 16px;
        position: relative;
        padding: 30px;
        margin: 0 0 80px 0;

        .date_container{
            margin-bottom: 10px;
            background-image: linear-gradient(to right, #0882B7 , #6CB144);
            color: @white-color;
            width: 220px;
            height: 48px;
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: 400;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0px;
            font-size: 18px;
            span{
                width: fit-content;
                margin-right: 15px;
            }
        }


        span{
            line-height: 26px;
            width: 100%;
            display: block;
        }

        .content_text{
            display: flex;
            align-items: self-start;
            flex-direction: column;
           
        }

        .date_label{

        }

        .date_week{
            font-size: 24px;
            color: @text-color-default;
            font-weight: bold;
            text-align: left!important;
            margin-bottom: 20px;
            .breakpoint-large-down({
                text-align: center!important;
            });
        }
        .read_more{
            border-top: none;
            &:hover{
                opacity: 0.6;
            }
            &:after {
                display: none;
                padding: 0;
                margin: 0;
                content: "";
                width: 80%;
                height: 4px;
                position: absolute;
                right: 0;
                background: white;
                bottom: 50px;
            }
        }
    }
}
