title = "Videos"
url = "/media-center/videos"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "about.jpg"

[builderList mediaVideosList]
modelClass = "pensoft\Media\Models\Videos"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
use Pensoft\Media\Models\Videos;

function onStart(){
	$this['mediaVideosList'] =  Videos::where('pensoft_media_videos.parent_id', null)->get();
}
?>
==
<div class="container">
	<div class="row">
		{% set records = mediaVideosList %}
		{% set displayColumn = mediaVideosList.displayColumn %}
		{% set noRecordsMessage = mediaVideosList.noRecordsMessage %}
		{% set detailsPage = mediaVideosList.detailsPage %}
		{% set detailsKeyColumn = mediaVideosList.detailsKeyColumn %}
		{% set detailsUrlParameter = mediaVideosList.detailsUrlParameter %}

		{% for record in records %}
		{# Use spaceless tag to remove spaces inside the A tag. #}
		{% spaceless %}
		<div class="col-md-6 col-xs-12">
			<div class="">
				<p class="card_title font-weight-bold">{{record.name}}</p>
				{% if record.file %}
				<video controls="" width="100%"><source src="{{record.file.path}}" type="video/mp4"></video>

				<p>Attachment: {{record.file.file_name}}, {{record.file.size}}</p>

				<p>{% partial 'components/download-link' file=record.file aria_label='Download ' ~ record.name %}</p>

				{% endif %}

				{% if record.youtube_url %}
				<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" src="{{record.youtube_url}}" width="100%" height="422"></iframe>

				<p>&nbsp;</p>
				{% endif %}

				{% if record.vimeo_url %}
				<iframe width="100%" height="422" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						src="{{record.vimeo_url}}">
				</iframe>
				<p>&nbsp;</p>
				{% endif %}
			</div>
		</div>




		{% endspaceless %}
		{% else %}
		{{ noRecordsMessage }}
		{% endfor %}
		<script>
			initAccordeon('accordion-documents');
		</script>
	</div>
</div>
