{% for key, partner in partners %}
<div class="accordion-border key_{{key}}">
    <div class="row middle-xs between-xs accordion-toggle">
        <div class="col-xs-10 start-xs title_container">
            <img alt="{{ partner.instituion }}" src="{{partner.cover.thumb(auto,49,{'mode':'crop'})}}">
        </div>
        <div class="col-xs-2 end-xs plusminus"><span class="plus"></span></div>
    </div>
    <div class="accordion-content" style="display: none;">
        <div class="row top-xs">
            <div class="col-xs-12 partner-item">
                <div class="col-xs-12">
                    <h4><a href="{{partner.instituion_url}}" target="_blank" rel="noopener noreferrer">{{partner.instituion}}</a></h4>
                    <div class="country_label">{{partner.country[0].name}}</div>
                    <div class="partner_description">{{partner.content|raw}}</div>
                    {% if insider_members.getIM(partner.id).count > 0 %}
                    <div id="accordion-insider-members-list-{{partner.id}}" class="partners-insider">
                        <div class="accordion-border">
                            <div class="row middle-xs accordion-toggle">
                                <span class="plusminus"><span>Show members</span><div class="plus"></div></span>
                            </div>
                            <div class="accordion-content" style="display: none;">
                                <div class="row top-xs">
                                    {% for profile in insider_members.getIM(partner.id) %}
                                    <article class="col-md-12 col-xs-12">
                                        <div class="contact_info row">
                                            <div class="col-md-5 col-xs-12 coordinator_image aos-init aos-animate" data-aos="fade-up">
                                                {% if profile.avatar %}
                                                <img alt="{{ profile.names }}" src="{{profile.avatar.thumb(126,126,{'mode':'crop'})}}">
                                                {% else %}
                                                <img alt="{{ profile.names }}" src="{{ 'avatar.svg'|media }}" width="126" height="126" class="no-image">
                                                {% endif %}
                                            </div>
                                            <div class="col-md col-xs-12 coordinator_info">
                                                <h2>{{ profile.names }}</h2>
                                            </div>
                                            <div class="col-xs-12"><p class="contact_affiliation">{{ profile.content|raw }}</p></div>
                                        </div>
                                    </article>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
